<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <img src="https://media1.tenor.com/images/4884d3beb464c88ec468922b0a60be5f/tenor.gif?itemid=18348443"><br>
        <a href="./login">Inicia sessió</a><br>
        <a href="./signup">Registrat</a>
    </body>
</html>