<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>login form</h2>
        <form  method="POST">
            <input name="usuari" placeholder="nom d'usuari"><br>
            <input type="password" name="contrasenya">
            <input type="submit"/>
        </form>
    </body>
</html>